.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  background: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg) no-repeat center / cover;
}

h1,h2,h3,h4,h5{
  margin:0;
}

body,main{
  height: 100vh;
}
body{
  background-color: #0000003d;
}

.ant-select{
  width: 100%;
}

.ant-select-open .ant-select-selection-item img{
  opacity: 0.2;
}

.ant-form-item{
  margin:0;
}
